@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d8d8d800;
}
.container {
  width: 1440px;
}
.hero-section {
  width: 1110px;
  padding: 80px 165px;
}
img {
  margin-top: 110px;
  display: block;
  padding-top: 80px;
  float: right;
  width: 635px;
  height: 532px;
  opacity: 1;
}
.text-container {
  padding-top: 138px;
  padding-left: 165px;
}

h1 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -0.7px;
  margin-bottom: 12px;
}
p {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0px;
  margin-bottom: 24px;
}
.text1 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.4px;
}

.text2 {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 0px;
  text-decoration: line-through;
  margin-left: 11px;
}
.price {
  margin-bottom: 48px;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 23px;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  align-items: center;
  background-color: #0d6efd;
  padding: 16px 40px;
  color: #ffffff;
}
